name: "infra test"
on: workflow_dispatch
jobs:
  terraform-jobs:
    name: to run on self hosted agent
    runs-on: self-tf
    steps:
      - name: Checkout
        uses: actions/checkout@v5.0.0
      - name: Azure Login
        uses: Azure/login@v2.3.0
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }} 
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }} 
          
      
      
    
  
